/*======================
     Google Fonts  
========================*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/*========================
 Common Color and Fonts  
=========================*/

:root {
    --work-sans: 'Work Sans', sans-serif;
    --primary-color: #FF900E;
    --dark-one: #131313;
    --dark-two: #424242;
    --dark-three: #727272;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    background-color: var(--primary-color);
}

/*=================================
     Global and common Styles 
===================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--work-sans);
}

/*======================
     Header Styles 
========================*/
.header {
    background-color: rgba(255, 144, 14, 0.1);
}

/*=========================
     Nav Bar Styles  
===========================*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 50px;
}

.nav-title {
    font-size: 45px;
    color: var(--dark-one);
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 50px;
    font-weight: 500;
    font-size: 18px;

}

.nav-items a {
    color: var(--dark-two);
    text-decoration: none;
}

/*===================
     Banner Styles 
=====================*/
.banner-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 870px;
    text-align: center;
    padding: 50px 50px 0 50px;
    margin: 0 auto;
}

.banner-title {
    font-size: 64px;
    color: var(--dark-one);
}

.banner-desc {
    font-size: 16px;
    color: var(--dark-three);
    margin-top: 35px;
    margin-bottom: 30px;
}

.banner-img {
    width: 100%;
    max-width: 1440px;
    padding: 50px;
}